body {
    font-family: 'Noto Sans', sans-serif;
}

#header-wrap {
    background-image: url('images/header-wrap-bkg.jpg');
    background-position: center center;
    background-size: cover;
    border-bottom: 4px solid #eee;
    box-shadow: 0 0 50px #aaa;
}

#header {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#header img {
    margin: 0 auto;
}

#header h1 {
    margin-top: 50px;
    font-family: 'Lora', serif; 
}

#hero {
    margin-top: 60px;
    margin-bottom: 60px;
}

#hero img {
    max-height: 450px;
    margin: 0 auto;
}

#description {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;   
}
#thankyou-description {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

#winwinwin {
    padding: 15px;
    border-top: 1px solid #060;
    border-bottom: 1px solid #060;
    color: #060;
    margin: 15px 0;
}

#winwinwin img {
    max-width: 100px;
    margin-right: 15px;
}

#guidingarrow {
    position: absolute;
    bottom: -60px; 
    right: -20px;
    width: 170px;
    z-index: 1000;
}


#mainform {
    margin-top: 60px;
    margin-bottom: 60px;    
}

#formwrap {
    background-color: #eee;
    border-radius: 15px;
    border: 4px dotted #ea4242;
    padding: 15px;
}

#formwrap h4 {
    text-align: center;
}



/* Override Sweet Alert */
.sweet-alert p {
  font-size: 14px;
  font-weight: normal;
}
.sweet-alert .tnc {
	text-align: left;	
}

