#non www to www
RewriteEngine On
RewriteCond %{HTTP_HOST} ^vitamin.sg [NC]
RewriteRule ^(.*)$ http://www.vitamin.sg/$1 [L,R=301]

# Custom redirects by Kian Ann
RedirectMatch 301 ^/promotions/?$ http://www.vitamin.sg/index.php?route=product/special
Redirect 301 /nuss http://www.vitamin.sg/index.php?route=premium_member/register
Redirect 301 /qr/qr1.php http://www.vitamin.sg/?utm_source=qr1&utm_medium=qrcode&utm_campaign=qrcode
Redirect 301 /products/stazen-astaxanthin-60-caps http://www.vitamin.sg/index.php?route=product/product&product_id=367
Redirect 301 /freemember https://www.vitamin.sg/index.php?route=premium_member/complimentary
Redirect 301 /qr/myb20140410 http://www.vitamin.sg/index.php?route=premium_member/complimentary
Redirect 301 /rewards http://www.vitamin.sg/index.php?route=rewards/home
Redirect 301 /rewards-tnc https://www.vitamin.sg/index.php?route=rewards/tnc
Redirect 301 /rewards-program http://www.vitamin.sg/index.php?route=rewards/home
Redirect 301 /nykg /c/offer-ended
Redirect 301 /vitaminsg50 http://50.vitamin.sg
Redirect 301 /50 http://50.vitamin.sg

# BEGIN BROWSER CACHE. 1 week.
<FilesMatch "\.(jpg|png|gif|js|css|ico|swf)$">
Header set Cache-Control "public,max-age=604800"
Header set Vary "Accept-Encoding"
</FilesMatch>
#END BROWSER CACHE

# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP

# 1.To use URL Alias you need to be running apache with mod_rewrite enabled. 
# 2. In your opencart directory rename htaccess.txt to .htaccess.
# For any support issues please visit: http://www.opencart.com

Options +FollowSymlinks

# Prevent Directoy listing 
Options -Indexes

# Prevent Direct Access to files
<FilesMatch "\.(tpl|ini|log)">
 Order deny,allow
 Deny from all
</FilesMatch>

# SEO URL Settings
RewriteEngine On
# If your opencart installation does not run on the main web folder make sure you folder it does run in ie. / becomes /shop/ 

RewriteBase /
RewriteRule ^sitemap.xml$ index.php?route=feed/google_sitemap [L]
RewriteRule ^googlebase.xml$ index.php?route=feed/google_base [L]
RewriteRule ^download/(.*) /index.php?route=error/not_found [L]

########### ONLY THIS LINE BELONGS TO OLD SITE
RewriteRule ^products/([a-z0-9\-]+)/?$ /Detail.php?s=$1 [L]

### Search Product
RewriteRule ^search/([a-z0-9\-]+)/?$ index.php?route=product/search&search=$1 [NC,L]

###Sort By in Search Product Page
RewriteRule ^search/([a-z0-9\-]+)/(.*)-([A-Z-]+)/?$ index.php?route=product/search&search=$1&sort=$2&order=$3 [NC,L]

###Sort By in Category Page
RewriteRule ^(.*)/(.*)/(.*)-([A-Z-]+)/?$ $1/$2?sort=$3&order=$4 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]

### Additional Settings that may need to be enabled for some servers 
### Uncomment the commands by removing the # sign in front of it.
### If you get an "Internal Server Error 500" after enabling any of the following settings, restore the # as this means your host doesn't allow that.

# 1. If your cart only allows you to add one item at a time, it is possible register_globals is on. This may work to disable it:
# php_flag register_globals off

# 2. If your cart has magic quotes enabled, This may work to disable it:
# php_flag magic_quotes_gpc Off

# 3. Set max upload file size. Most hosts will limit this and not allow it to be overridden but you can try
# php_value upload_max_filesize 999M

# 4. set max post size. uncomment this line if you have a lot of product options or are getting errors where forms are not saving all fields
# php_value post_max_size 999M

# 5. set max time script can take. uncomment this line if you have a lot of product options or are getting errors where forms are not saving all fields
# php_value max_execution_time 200

# 6. set max time for input to be recieved. Uncomment this line if you have a lot of product options or are getting errors where forms are not saving all fields
# php_value max_input_time 200

# 7. disable open_basedir limitations

# php_admin_value open_basedir none


#Password Protect admin

<IfModule mod_suphp.c>
 suPHP_ConfigPath /home/vitamin1/php.ini
  <Files php.ini>
   order allow,deny
   deny from all
  </Files>
</IfModule>
