@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);


/* KA resetcss v1 */
/* Reset Across Browsers */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, 
em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; border: 0;
	outline: 0; font-size: 100%; vertical-align: baseline;
	background: transparent;
}
html { line-height: 1; font-size: 62.5%; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; vertical-align: middle; }
caption, th, td { text-align: left; font-weight: normal; }
td, th { vertical-align: middle; } 
a img { border: none; }
em { font-style: italic; }
header, nav, section, article, aside, footer { display: block; }

/* Standard Definitions - Note: Not to be used for page layout elements, only for formatting content elements */
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { text-align: center; }
img.alignright { float: right; margin-left: 10px; }
img.alignleft { float: left; margin-right: 10px; } 
img.aligncenter { margin-left: auto; margin-right: auto; display: block; }
.padall { padding: 10px; }
.padtop { padding-top: 10px; }
.padleft { padding-left: 10px; }
.padright { padding-right: 10px; }
.padbottom { padding-bottom: 10px; }
.marginall { margin: 10px; }
.margintop { margin-top: 10px; }
.marginleft { margin-left: 10px; }
.marginright { margin-right: 10px; }
.marginbottom { margin-bottom: 10px; }
.roundedall { border-radius: 5px; } 
.roundedtopleft { border-top-left-radius: 5px; } 
.roundedtopright { border-top-right-radius: 5px; } 
.roundedbottomleft { border-bottom-left-radius: 5px; } 
.roundedbottomright { border-bottom-right-radius: 5px; } 
.boxshadow { ../cgi-binbox-shadow: 2px 2px 5px #888; }
.highlight { background-color: #ff0 }
.clear { clear: both; }
.imgbdr { border: 4px solid #ccc; }
.hidetext { text-indent: 100%; white-space: nowrap; overflow: hidden;}
blockquote { padding: 20px; background-color: #f4f4f4; }

/* Default Text Styles */
a:focus { outline: 1px dotted; }
p, dl, hr, ol, ul, pre, table, address, fieldset, blockquote { margin-bottom: 1.4em; line-height: 1.4em; }
h1 { font-size: 2.2em; /* 42px / 10px */ margin-bottom: 1em; }
h2 { font-size: 1.5em; /* 26px / 10px */ margin-bottom: 1em; }
h3 { font-size: 2.0em; /* 20px / 10px */ margin-bottom: 1em; }
h4 { font-size: 2.0em; /* 20px / 10px */ margin-bottom: 1em; }
ol { list-style-type: decimal; }
ul { list-style-type: disc; }
li { margin-left: 30px; }
hr { border: 0 #ccc solid; border-top-width:1px; clear:both; height:0; }

body { 
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	background-color: #7d5c42;
}

#container {
	margin: 0 auto;
	width: 810px;
	background-image: url('100kfans.jpg');
	background-repeat: no-repeat;
	background-color: #ebe1d6;
	padding-top: 630px;
	font-size: 1.4em;
}
	#content {
		clear: both;
		display: block;
		float: none;
		padding: 20px;
	}
.intro {  margin-left: 70px; font-size: 1.2em; margin-right: 70px; border: 2px solid #fff; background-color: #000; background-color: rgba(0,0,0,0.8); border-radius: 5px; padding: 20px 20px 10px 20px; margin-bottom: 40px; color: #fff; border-top-left-radius: 0;  }
.intro a:link, .intro a:visited, .intro a:hover { color: #fff; text-decoration: underline; }
.introhead { margin-left: 70px; margin-right: 70px; font-size: 1.6em; color: #ffd400; text-transform: uppercase; border: 2px solid #fff; background-color: #000; background-color: rgba(0,0,0,0.8); padding: 12px 12px 12px 20px; margin-bottom: -2px;  border-top-left-radius: 5px; border-top-right-radius: 5px; }
.participate { padding: 20px 20px 0 20px; border: 8px solid #c00; background-color: #fecc00; border-radius: 20px; box-shadow: 0 0 10px #7d5c42; margin-bottom: 90px; margin-top: 30px;  }
.terms { font-size: 0.9em; line-height: 1em;  }
.spirulina { margin-bottom: 30px; text-align: center; margin-top: 60px; }
.spirulina h2 { text-align: center; }

#images img { max-width: 150px; max-height: 150px; display: inline-block; border: 4px solid #fff; margin-left: -5px; margin-top: -20px;  box-shadow: 2px 2px 8px #888;  }
#images  { margin-bottom: -50px; vertical-align: center; text-align: center; width: 100%; width: 810px; margin-left: -40px; margin-top: 50px;  }
.model { float: right; margin-top: -80px; margin-right: -25px; margin-left: 10px; transform: rotate(-5deg); box-shadow: 2px 2px 8px #888; }
