body {
	background-color: #FFFFFF;
}

#header h1 {
	text-align: center;
	font-size: 4em;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 40px;
}

/* Elements */
#leftcontent {
	font-size: 1.1em;	
}
#leftcontent h2,
#leftcontent p {
	margin-bottom: 15px;
}

#theform .header {
	padding: 15px;
	background-color: #fd9b1c;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#theform .header h3 {
	margin: 0;
}
#theform .controls {
	padding: 15px;
	background-color: #eee;
}
#theform .cta {
	padding: 0 15px 15px 15px;
	background-color: #eee;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center
}

#product-img {
	display: block;
	margin: 0 auto 15px auto;
}
@media (min-width: 768px) {
	#product-img {
		display: inline-block;
		float: left;
		margin: 0 15px 15px 0;
	}
}

#footer-wrapper {
	margin: 15px auto;
	font-size: 80%;
}

/* Override Sweet Alert */
.sweet-alert p {
  font-size: 14px;
  font-weight: normal;
}
.sweet-alert .tnc {
	text-align: left;	
}
