/* KA resetcss v1 */
/* Reset Across Browsers */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, 
em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; border: 0;
	outline: 0; font-size: 100%; vertical-align: baseline;
	background: transparent;
}
html { line-height: 1; font-size: 62.5%; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; vertical-align: middle; }
caption, th, td { text-align: left; font-weight: normal; }
td, th { vertical-align: middle; } 
a img { border: none; }
em { font-style: italic; }
header, nav, section, article, aside, footer { display: block; }

/* Standard Definitions - Note: Not to be used for page layout elements, only for formatting content elements */
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { text-align: center; }
img.alignright { float: right; margin-left: 10px; }
img.alignleft { float: left; margin-right: 10px; } 
img.aligncenter { margin-left: auto; margin-right: auto; display: block; }
.padall { padding: 10px; }
.padtop { padding-top: 10px; }
.padleft { padding-left: 10px; }
.padright { padding-right: 10px; }
.padbottom { padding-bottom: 10px; }
.marginall { margin: 10px; }
.margintop { margin-top: 10px; }
.marginleft { margin-left: 10px; }
.marginright { margin-right: 10px; }
.marginbottom { margin-bottom: 10px; }
.roundedall { border-radius: 5px; } 
.roundedtopleft { border-top-left-radius: 5px; } 
.roundedtopright { border-top-right-radius: 5px; } 
.roundedbottomleft { border-bottom-left-radius: 5px; } 
.roundedbottomright { border-bottom-right-radius: 5px; } 
.boxshadow { box-shadow: 2px 2px 5px #888; }
.highlight { background-color: #ff0 }
.clear { clear: both; }
.imgbdr { border: 4px solid #ccc; }
.hidetext { text-indent: 100%; white-space: nowrap; overflow: hidden;}
blockquote { padding: 20px; background-color: #f4f4f4; }

/* Default Text Styles */
a:focus { outline: 1px dotted; }
p, dl, hr, ol, ul, pre, table, address, fieldset, blockquote { margin-bottom: 1.62em; line-height: 1.3em; }
h1 { font-size: 2.2em; /* 42px / 10px */ margin-bottom: 1em; line-height: 1.3em; letter-spacing: -0.02em; }
h2 { font-size: 1.7em; /* 26px / 10px */ margin-bottom: 1em; color: #4861b0; line-height: 1.3em; }
h3 { font-size: 2.0em; /* 20px / 10px */ margin-bottom: 1em; }
h4 { font-size: 2.0em; /* 20px / 10px */ margin-bottom: 1em; }
ol { list-style-type: decimal; }
ul { list-style-type: disc; }
li { margin-left: 30px; }
hr { border: 0 #ccc solid; border-top-width:1px; clear:both; height:0; }

body { 
	font-family: "Helvetica", Arial, Verdana, Helvetica, sans-serif; 
	background: #f4f4f4;
}
.error {
	width: 1004px;
	position: relative;
	margin: 10px auto;
	font-size: 1.5em;
	padding: 20px 10px 0 10px;
	color: #c00;
}

#container {
	width: 1024px;
	position: relative;
	margin: 20px auto;
	font-size: 1.2em;
	border: 1px solid #ccc;
	background-color: #fff;
}
#header {
	height: 100px;
	margin-top: 20px;
	text-align: center;	
	border-bottom: 1px solid #ccc;
}
	.vitaminlogo { display: inline-block; float: left; margin-left: 20px; }
	.abbottlogo { display: inline-block; float: right; margin-top: 10px; margin-right: 20px; }

#p1 {
	background-image: url('i/bg1.jpg');
	height: 523px;
	background-repeat: no-repeat;
	position: relative;
	border-bottom: 1px solid #ccc;
}
#p1 h1 {
	font-size: 2.5em;
	padding-bottom: 10px;
	border-bottom: 1px solid #222;
	margin-bottom: 15px; 
	line-height: 110%;
}
sup { font-size: 70%; position: relative; top: -8px;}
#p1-1 {
	position: absolute;
	width: 360px;
	left: 30px;
	top: 30px;
	font-size: 1.2em; 
}
#p1-1 ul {
	margin-left: 160px; 
	margin-top: 40px;
}
#p1-1 ul li {
	margin-bottom: 15px;
	text-align: left;
}
#p1-1-1 {
	margin-bottom: 10px;
	font-size: 1.2em;
}
#p1-2 {
	position: absolute;
	width: 250px;
	right: 45px;
	top: 30px;
	color: #fff;
}
#p1-2 label {
	display: inline-block;
	width: 250px;
	vertical-align: top;
	margin-top: 2px;
}
#p1-2 label span {
	font-size: 80%; 
}

#p1-2 textarea.textbox {
	width: 100%;
	height: 45px;
	box-sizing: border-box;
	margin-top: 3px; 
}
#p1-2 .textbox {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #aaa;
	padding: 2px;
	margin-bottom: 5px; 
}
#p1-2 .button {
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 7px 10px;
	width: 120px;
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
	color: #222;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 5px;
}
.wsl { text-align: center; margin-bottom: 10px; font-size: 80%; }
.lead { text-align: center; margin-bottom: 10px; font-size: 1.2em; border-bottom: 1px solid #92d5f0; padding-bottom: 10px; }
.lead1 { font-size: 1.6em; }
.lead2 { font-size: 1.55em; }
.lead3 { font-size: 1.3em; }
#p2 {
	padding: 20px;
	border-bottom: 1px solid #ccc;
	font-size: 1.2em;
	position: relative; 
}
#p2 h1 {
	font-size: 3em;
	margin-bottom: 10px; 
}
#p2 h1 span {
	font-weight: normal; 
}
#benefits {
	margin-left: 265px; 
}
#benefits .b {
	width: 110px;
	margin: 0 20px;
	display: inline-block; 
	text-align: center; 
}
#benefits .box {
	background-color: #f6bb3d;
	padding-top: 15px; 
	padding-bottom: 15px;
	margin-bottom: 10px;
	color: #fff;
}
#benefits .b2 .box {
	background-color: #f7941e;
}
#benefits .b3 .box {
	background-color: #8dc63f;
}
#benefits .below {
	font-size: 1.2em; 
	font-weight: bold;
}
#benefits .box span {
	font-size: 3.2em; 
	display: inline-block;
	margin-top: 5px; 
}
#p2 ul { 
	margin-left: 300px; 
}
img.astaxanthin { position: absolute; top: 160px; left: 110px; }

#p5 {
	padding: 100px 20px;
	text-align: center; 
}

#p3 {
	font-size: 90%;
	background-color: #26a3d9;
	color: #fff;
	padding: 20px 20px 0 20px;
}
#p4 {
	font-size: 80%;
	background-color: #000;
	color: #fff;
	padding: 20px;
	text-align: center; 
}

.claimform {
	background-color: #f4f4f4;
	width: 620px;
	padding: 20px;
	margin: 0 auto;
}
