.special_banner {
    margin-bottom: 20px;
}

.special_banner > .special_banner_content {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    display: none;
}

.special_banner > .special_banner_content:first-child {
    display: block;
    position: relative;
}

.ui.modal.special_banner {
    text-align: center;
    overflow: hidden;
}