/*This is a custom CSS stylesheet*/
body {
	background-color:#ffffff;
	height: 100%;
	font-family: "Helvetica",Helvetica,Arial,sans-serif !important;
	src: url('font/OpenSans-Regular.ttf');
	font-size: 17px;
	line-height: normal;
	color: #797e82;
}

@font-face
{
	font-family: MV Boli;
	src: url(.../mvboli.ttf);
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto 0px;
	/* Pad bottom by footer height */
	padding: 0 0 0px;
}
.navbar-static-top 
{
	margin-bottom: 19px;
	background-color: #eeeef0;
	height:450px;
	z-index: 30;
	position: relative;
	top: 0px;
}

.navbar-default
{
	background-color: #faebce;
}

.navbar-brand
{
	margin-top:30px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 220px;
	padding: 15px;
	margin: 0 auto;
}

#footer, h3
{
	text-align:center;
}

#vitaminsglogo
{
	max-width: 500px;
	padding: 15px;
	margin: 0 auto;
}

.sampleproduct
{
	margin: 0 auto;
}

.container .credit {
	margin: 90px 0;
}

.jumbotron
{
	padding:0px;
	background-color:#ff8605;
	margin-top:-320px;
	z-index: 50;
	position: relative;
	top: 0px;
}

.container .jumbotron
{
	padding:0px;
	border:0px solid;
	border-radius: 0px;	
	-webkit-box-shadow: 0 65px 24px -47px #7f7f7f;
	-moz-box-shadow: 0 65px 24px -47px #7f7f7f;
	box-shadow: 0 65px 24px -47px #7f7f7f;
	margin-bottom: 55px;
}

#main1
{
	display: inline-block;
	font-size:32px;
	font-weight: bold;
	color:#ffffff;
	line-height: 41px;
	
	/* background: -webkit-linear-gradient(top, #ffa539, #fb783f);
	background: linear-gradient(top, #ffa539, #fb783f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
}
#main1 span {
	line-height: 29px;
}

#sub {
	color: #ffffff;
	font-size: 20px;
	margin-top: 12px;
	margin-left: 2px;
	}

.details {
	margin-top: 64px;
	margin-bottom:10px;
	padding-left: 22px;
	padding-right: 20px;
}

.accolade
{
	max-width: 300px;
	margin: 0 auto 53px;;
}
.accolade img {
	padding: 14px 0;
	width: 100%;
}
.list-chck { 
	list-style: none;
	padding-left: 3px;
	margin-top: 22px;
}
.list-chck li {
	font-size: 17px;
	line-height: 30px;
	background: url(../img/check.png) no-repeat left top;
	margin: -1px 15px 0px 1px;
	padding-left: 32px;
	margin-bottom: 14px;
}
h4
{
	color: #4c281a;
	font-size: 21px;
}

h3
{
	color:#797e82;
	font-family: Open Sans;
	src: url('font/OpenSans-Semibold.ttf');
	font-style: italic;
}

ul 
{
    list-style-image: url('../img/check.png');
}

li
{
	line-height: 25pt;
}

a {
color: #ffffff;
text-decoration: none;
}

.form-horizontal
{
	min-height:440px;
	background-color: #eceef0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom:10px;
}

.centeralign
{
	margin-top:50px;
	text-align: center;
	line-height:18px;
}

.centeralign2 {
	margin-top: 38px;
	text-align: center;
	line-height: 18px;
}

.box1
{
	background-color: #f89928;
	margin-bottom: 50pt;
	height: 100px;
	width: 100px;
}

.box2
{
	background-color: #ffa539;
	margin-bottom: 50pt;
	height: 100px;
	width: 100px;
}

.box3
{
	background-color: #f49d34;
	margin-bottom: 50pt;
	height: 100px;
	width: 100px;
}

.box4
{
	background-color: #fa8e0b;
	margin-bottom: 50pt;
	height: 100px;
	width: 100px;
}

.box5
{
	background-color: #ff9c00;
	margin-bottom: 50pt;
	height: 100px;
	width: 100px;
}

.box6
{
	background-color: #ffae00;
	margin-bottom: 50pt;
	height: 100px;
	width: 100px;
}

.box7
{
	background-color: #ffa800;
	margin-bottom: 50pt;
	height: 100px;
	width: 100px;
}

.cat
{
	padding-top: 40%;
	color:#ffffff;
	font-weight: bold;
	text-align:center;
}

#free
{
	padding-left:60px;
	margin-top: 0px;
	margin-left: -50px;
}

.arrow
{
	margin-top: -60px;
	margin-bottom: 20px;
	z-index: 50;
	position: relative;
}

#format1 {
	font-weight: bold;
	color: #c30404;
	margin-top: 48px;
	font-size: 25px;
	text-align: center;
	/* font-family: MV Boli Regular;
	src: url('font/mvboli.ttf'); */
	font-family: MV Boli;
	margin-bottom:20px;
}
#CboxBone
{
	margin-top: 0px;
	margin-bottom: 10px;
}

#HeaderChoice
{
	text-transform: uppercase;
	padding-left:60px;
	margin-top: 0px;
	margin-left: -50px;
}

.btn-default {
	color: #ffffff;
	background-color: #ffa539;
	border-color: transparent;
}

.btn-default:hover
{
	color: #ffffff;
	background: #ffa539;
	background-image: -webkit-linear-gradient(top, #ffa539, #f59523);
	background-image: -moz-linear-gradient(top, #ffa539, #f59523);
	background-image: -ms-linear-gradient(top, #ffa539, #f59523);
	background-image: -o-linear-gradient(top, #ffa539, #f59523);
	background-image: linear-gradient(to bottom, #ffa539, #f59523);
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
	padding-top: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.popover {
	right: auto;
	left: 50%;
	width: 900px !important;
	padding-top: 30px;
	padding-bottom: 30px;
	max-width: 445px !important;
	min-width: 200px !important;
	}
	
#title
{
	color:#4c281a;
	margin: 15px 0 0 0px;
}

.products
{
	height:275px;
	overflow-x:hidden; 
	overflow-y:auto; 
	padding:5px;
}

.products::-webkit-scrollbar {
width: 7px;
height: 25%;
}
.products::-webkit-scrollbar-thumb {
background: #f57f2a; /* Old browsers */
background: -moz-linear-gradient(top,  #f57f2a 0%, #f78e33 33%, #f78e33 66%, #f57f2a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f57f2a), color-stop(33%,#f78e33), color-stop(66%,#f78e33), color-stop(100%,#f57f2a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f57f2a 0%,#f78e33 33%,#f78e33 66%,#f57f2a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f57f2a 0%,#f78e33 33%,#f78e33 66%,#f57f2a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f57f2a 0%,#f78e33 33%,#f78e33 66%,#f57f2a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f57f2a 0%,#f78e33 33%,#f78e33 66%,#f57f2a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f57f2a', endColorstr='#f57f2a',GradientType=0 ); /* IE6-9 */

}
.products::-webkit-scrollbar-track {
background-color: rgba(50,50,50,0.1);
}

.addtocartbtn {
margin-top: 15px;
}

.bottles
{
margin: 10px;
}

.items
{
max-width: 200px; 
margin: 0 auto 0px; 
margin-top: 10px;
}

.prodsquare
{
border: solid 2px; 
border-color: #ff8705; 
text-shadow: white 0px 0px 2px; 
font-size: 16px;
 background-size: 150px; 
 padding: 5px;
}

/**----------------**/

.rw { 
		width: 61.41%;
		margin: 25px auto 0;
	}
	
.litsq-wrap {  font-size: 14px; margin: auto; height: 200px; }
	.col-sm-2.sq {		
		height: 50%;
		width:100px !important;
		float: left;
	}
	.sq.c1 { background: #f89928;}
	.sq.c2 { background: #ffa539;}
	.sq.c3 { background: #f49d34;}
	.sq.c4 { background: #fa8e0b;}
	.sq.c5 { background: #ff9c00;}
	.sq.c6 { background: #ffae00;}
	.sq.c7 { background: #ffa800;}
	.sq.c8 { background: #f9c053;}
	.sq.c9 { background: #ee8910;}
	.sq.c10 { background: #ffae00;}
	.sq.c11 { background: #f5a803;}
	.sq.c12 { background: #ee9020;}
	.sq.c13 { background: #fa8e0b;}
	.sq.c14 { background: #ffa539;}
	
/******************************************************/
/*  MEDIA SCREEN CSS
/******************************************************/

/*0 to 320 ------ START*/
@media screen and (min-width: 0px) and (max-width: 320px) 
{
		.rw
		{
			width:100%;
		}
		
		.col-sm-2.sq 
		{
			width: 100% !important;
		}
		
		.cat
		{
			padding-top: 15%;
		}
		
		/*#free 
		{
			padding-left: 110px;
			margin-top: -50px;
			margin-left: -50px;
		}
		*/
		
		/*norman edit Dec-01-14 */
		#sub {
			font-size: 20px;
			margin-top: 15px;
		}
}
/*0 to 320 ------ END*/

/*321 to 479 ------ START*/
@media screen and (min-width: 321px) and (max-width: 479px) 
	{
		.rw
		{
			width:100%;
		}
		
		.details 
		{
			margin-top: 20px;
			margin-bottom: 10px;
			padding-left: 30px;
			padding-right: 20px;
		}
		
		.col-sm-2.sq 
		{
			width: 100% !important;
		}
		
		.cat
		{
			padding-top: 15%;
		}
		
		/*#free 
		{
			padding-left: 110px;
			margin-top: -50px;
			margin-left: -50px;
		}*/
	}

/*321 to 479 ------ END*/

/*481 to 767 ------ START*/
@media screen and (min-width: 481px) and (max-width: 767px) 
	{
		.rw 
		{
			width: 100%;
			margin: 25px auto 0;
		}
		
		.details 
		{
			margin-top: 20px;
			margin-bottom: 10px;
			padding-left: 30px;
			padding-right: 20px;
		}
		
		.col-sm-2.sq 
		{
			width: 100% !important;
			float: left;
		}
		
		.cat
		{
			padding-top: 10%;
		}
		
		/*#free 
		{
			padding-left: 110px;
			margin-top: -50px;
			margin-left: -50px;
		*/
	}
	
/*481 to 767 ------ END*/

/*800 to 600 ------ START*/
@media screen and (min-width: 600px) and (max-width: 800px) 
	{
		.rw 
		{
			width: 100%;
			margin: 25px auto 0;
		}
		
		.details 
		{
			margin-top: 20px;
			margin-bottom: 10px;
			padding-left: 30px;
			padding-right: 20px;
		}
		
		/*#free 
		{
			padding-left: 110px;
			margin-top: -50px;
			margin-left: -50px;
		}*/
	}
/*481 to 767 ------ END*/

/*800 to 600 ------ START*/
@media screen and (min-width: 600px) and (max-width: 800px) 
	{
		.rw 
		{
			width: 100%;
			margin: 25px auto 0;
		}
		
		.details 
		{
			margin-top: 20px;
			margin-bottom: 10px;
			padding-left: 30px;
			padding-right: 20px;
		}
	}
/*481 to 767 ------ END*/

/*800 to 600 ------ START*/
@media screen and (min-width: 600px) and (max-width: 800px) and (orientation : landscape)
	{
		.rw 
		{
			width: 65%;
			margin: 25px auto 0;
		}
		
		.details 
		{
			margin-top: 20px;
			margin-bottom: 10px;
			padding-left: 30px;
			padding-right: 20px;
		}
	}
/*481 to 767 ------ END*/

/*769 to 1023------ START*/
@media screen and (min-width: 769px) and (max-width: 1023px) 
	{
		.rw {
		width: 100%;
		margin: 25px auto 0;
		}
	}
/*769 to 1023------ END*/

/*769 to 1023------ START*/
@media screen and (min-width: 1023px) and (max-width: 769px) and (orientation : landscape)
	{
		.rw {
		width: 75%;
		margin: 25px auto 0;
		}				
	}		
/*769 to 1023------ END*/


/*1366+ ------ START*/
@media screen and (min-width: 1366px) {
	.rw {
		width: 65%;
		margin: 25px auto 0;
	}
}
/*1366+ ------ START*/

.hide {
	display : none;
}

@media screen and (min-width: 768px){
	.modal-dialog {
	right: auto;
	left: 50%;
	width: 900px !important;
	padding-top: 30px;
	padding-bottom: 30px;
	}
}


/*I add ------ START*/
.banner-wrap {
	overflow: hidden;
}
.banner-wrap .img-responsive { max-width: 100%; }
.steps li { 
	font-size: 14px;
	color: #4c281a;
	font-weight: bold;
}
.steps li{ 
	width: 30%;
	text-align: center;
	margin: 0;
	cursor: default;
}
.steps li a { 
	padding: 5px 2px !important;
}
.steps li a i { margin-right: 5px; }

.steps #step1-tab.active i { background-position: -8px -7px; }
.steps #step1-tab i { background-position: -57px -7px; }
.steps #step2-tab i { background-position: -74px -7px; }
.steps #step3-tab i { background-position: -90px -7px; }
/* .font-h-01 { font-size: 15px; } */

[class^="icon-"],
[class*="icon-"] {
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 12px;
	vertical-align: text-top;
	background-image: url("../img/icons.png");
	background-repeat: no-repeat;
}
.icon-info {
	background-position: -8px -7px;
}
.icon-gift {
	background-position: -25px -7px;
}
.icon-pencil {
	background-position: -41px -7px;
}
[class^="icon-md-"],
[class*="icon-md-"] {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 12px;
	vertical-align: text-top;
	background-image: url("../img/icons.png");
	background-repeat: no-repeat;
}
.icon-md-world {	background-position: -8px -32px; }
.icon-md-contact { background-position: -42px -32px; }
.icon-md-fb { background-position: -72px -32px; }


.btn-form-long {
	padding: 6px 18px;
	width: 80%;
	border-radius: 2px;
}
.mb25 { margin-bottom: 25px; }
.mt25 { margin-top: 25px !important; }
.lh20 { line-height: 30px; }
.mb60 { margin-bottom: 60px; }
.social { 
	margin-top: 18px; 
	padding-left: 0; 
	width: 60%;
	margin: auto;
}
.social li { 
	list-style: none;
	display: inline-block;
	padding: 0 9px;
	min-width: 19%;
}
.social li a {
	color: #363737;
	font-weight: bold;
}
.social li a i { vertical-align: middle; }
.arrow-red { 
	float: right; 
	-webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	transform: rotate(0deg);
	margin-top: 16px;
}
@media (max-width: 991px) {
	.arrow-red {
		float: none;
		margin: auto;
		-webkit-transform: rotate(98deg);
		-moz-transform: rotate(98deg);
		transform: rotate(98deg);		
	}
}
/*I add ------ END*/