.required_notification {
	color:#d45252; 
	margin: 0px 0 10px 0;
	display:inline;
	float:left;
	font-size: 12px;
}

.form-horizontal input:required 
{
	background: #fff url(img/red_asterisk.png) no-repeat 98% center;
}